<div class="upload-pictures-view col-sm-offset-1">
	<h2>Edit Cafe</h2>
	<h3>Please choose Cafe</h3>
	<div class="dropdown btn btn-default">
		<div id="collectiondropDown" class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown">
			{{ cafeSelected }}<span class="caret"></span>
		</div>
		<ul id="dropDownUL" class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dLabel">
			<li ng-repeat="cafe in allCafes" ng-click="cafeChange(cafe)">{{ cafe.cafeName }}</li>
		</ul>
	</div>
</div>
<br>

<div class="edit-view">
	<form name="editCafeForm" ng-submit="editCafe(editCafeForm)">
		<div class="col-sm-5 col-sm-offset-1 left-form">
			<div class="form-group">
				<label>Cafe Name</label>
		    		<input type="text" class="form-control" ng-model="cafe.cafeName" placeholder="Enter Cafe Name" required title="Cafe name cannot be empty.">
	  		</div>
	  		
	  		<div class="form-group">
				<label>Cafe Address</label>
		    		<input type="text" class="form-control" ng-model="cafe.cafeAddress" placeholder="Enter Cafe Address, e.g. 123 Cafe Street, San Francisco, CA" required title="Cafe address cannot be empty.">
		  	</div>
		  	
		  	<div class="form-group">
		    		<label>Cafe Hours</label>
		    		<br>
				<select name="open-hour" class="hour-dropdown" ng-model="openHour" ng-options="hour.OpenHour for hour in openHours"> 
					<option value="">{{ cafe.cafeHours.sunday.openTime }}</option> 
				</select>
				
				<select name="close-hour" class="hour-dropdown" ng-model="closeHour" ng-options="hour.CloseHour for hour in closeHours"> 
					<option value="">{{ cafe.cafeHours.sunday.closeTime }}</option> 
				</select>
			</div>

			<div class="form-group">
				<label>Phone Number</label>
		    		<input type="text" class="form-control" ng-model="cafe.cafeSocialContacts.phoneNumber" placeholder="Enter Cafe Phone Number, e.g. 1234567890" maxlength="10" title="Ten digits for US numbers.">
		  	</div>
		  	
	 	</div>
	 		
		<div class="col-sm-5 right-form">
			<div class="form-group">
				<label>Facebook</label>
		    		<input type="text" class="form-control" ng-model="cafe.cafeSocialContacts.facebook" placeholder="Enter Facebook Link" title="The format should be '*.facebook.com/YOUR_NAME'." pattern=".*facebook.com/.+">
		  	</div>
	  	
		  	<div class="form-group">
				<label>Twitter</label>
		    		<input type="text" class="form-control" ng-model="cafe.cafeSocialContacts.twitter" placeholder="Enter Twitter Link" title="The format should be '*.twitter.com/YOUR_NAME'." pattern=".*twitter.com/.+">
		  	</div>
		  	
		  	<div class="form-group">
				<label>Instagram</label>
		    		<input type="text" class="form-control" ng-model="cafe.cafeSocialContacts.instagram" placeholder="Enter Instagram Link" title="The format should be '*.instagram.com/YOUR_NAME'." pattern=".*instagram.com/.+">
		  	</div>
		  	
		  	<div class="form-group">
				<label>Website</label>
		    		<input type="text" class="form-control" ng-model="cafe.cafeSocialContacts.website" placeholder="Enter Website Link">
		  	</div>	
		</div>
		
		<div class="col-sm-1"></div>
	
		<div class="edit-btn col-sm-1 col-sm-offset-1">
			<input id="uploadFile" type="file" file-model="myFile"/>
			<div>
				<h5 id="size-limit">Size limit: 512KB</h5>
			</div>
			<button type="submit" class="btn btn-success"><i class="fa fa-coffee" aria-hidden="true"></i> Edit Cafe</button>
		</div>
	</form>
</div>