<div class="container cafes-show-view">
	<div class="row">
		<h1>Local Cafes</h1>
			<div class="clearfix"></div>
			<section class="search-box">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 listing-block">
							<div ng-repeat="cafe in allCafes">
								<div class="container media">
									<!-- <div class="fav-box"><i class="fa fa-heart-o" aria-hidden="true"></i></div> -->
									<div class="row col-md-5">
										<div class="col-md-5">
											<img src="img/jonas-jacobsson-338014.jpg">
										</div>
										<div class="col-md-7">
											<div class=panel-title>
												<button type="button" class="btn btn-link" ng-click="showInfoWindow(event, cafe.coordinate, cafe.cafeName)">{{ cafe.cafeName }}</button>
											</div>
											<div class="address">{{ cafe.cafeAddress }}</div>
											<div class="address">
												<i class="fa fa-phone-square" style="font-size:24px; color:#fbad50"></i> {{ cafe.cafeSocialContacts.phoneNumber }}
											</div>
											<div class="stats">
												<div class="address">{{ cafe.cafeHours.sunday.openTime }} - {{ cafe.cafeHours.sunday.closeTime }}</div>
												<div class="social">
													<a href="{{ cafe.cafeSocialContacts.facebook }}" target="_blank"><i class="fa fa-facebook-square" style="font-size:24px; color:#3b5998"></i></a>
							    						<a href="{{ cafe.cafeSocialContacts.twitter }}" target="_blank"><i class="fa fa-twitter-square" style="font-size:24px; color: #0084b4"></i></a>
							    						<a href="{{ cafe.cafeSocialContacts.instagram }}" target="_blank"><i class="fa fa-instagram" style="font-size:24px; color:#e95950"></i></a>
							    						<a href="{{ cafe.cafeSocialContacts.website }}" target="_blank"><i class="fa fa-globe" style="font-size:24px; color:#44CEF6"></i></a>
												</div>
											</div>
										</div>
									</div>
									
										
								</div>
							</div>
						</div>
						
						<div class="col-md-7 map-box mx-0 px-0">
							<ng-map zoom="15" center="{{ position }}" map-type-id="MapTypeId.ROADMAP">
								<marker position="current" animation="Animation.DROP" icon="http://maps.google.com/mapfiles/ms/micons/man.png"></marker>
								<marker ng-repeat="cafe in allCafes" position="{{ cafe.coordinate }}" animation="Animation.DROP" icon="http://maps.google.com/mapfiles/ms/micons/coffeehouse.png" on-click="showInfoWindow(event, cafe.coordinate, cafe.cafeName)"></marker>
							</ng-map>
						</div>
					</div>
				</div>
			</section>
	</div>
</div>